<!-- 
//File Name: footer.ejs
//Student's Name: Ashutosh Kansal
//StudentID: 301233980
//Date: 22 June, 2023 
-->



<footer>
    <p>
        <center> 2023 Copyright &copy; Ashutosh Kansal | 301233980 | Software Engineering Technician
        </center>
    </p>
</footer>