<!-- 
//File Name: about.ejs
//Student's Name: Ashutosh Kansal
//StudentID: 301233980
//Date: 22 June, 2023 
-->

<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ('partials/head.ejs') %>
        <link rel="stylesheet" href="/Stylesheets/about.css">

</head>

<body>
    <%- include ('partials/navbar.ejs') %>

        <div class="outer">
            <div class="img"><img src="/images/profilepic.png" height="400px" width="400px" alt=""></div>
            <div class="aboutme">
                <p>WANT TO KNOW ME ?</p>
            </div>
            <div class="arrow"> <img class="" height="150px" width="150px" src="/images/arrow.png
                    " alt=""> </div>
            <div class="desc">
                <p>Hello there! My name is <strong style="font-size: larger;">Ashutosh Kansal</strong>, and I'm
                    currently
                    pursuing a Software
                    Engineering Technician
                    course at Centennial College. I'm in my third semester of the four-semester program.
                    Originally from
                    Punjab, India, I have always had a passion for coding, particularly in the field of web
                    development.
                    Over time, I have gained experience by creating various portfolio websites that showcase my
                    skills and
                    creativity. Additionally, I have also developed software solutions for different businesses,
                    such as
                    grocery stores and libraries. I believe in the power of technology to solve real-world
                    problems and
                    improve people's lives. With a strong dedication to continuous learning and a keen eye for
                    detail, I
                    strive to deliver high-quality work and exceed expectations. I am excited to embark on new
                    challenges
                    and collaborate with others to create innovative solutions.</p>

            </div>
            <div class="resume">
                <a href="https://drive.google.com/file/d/1wJnIyGtVD8xHJXtYTdEmmLcLi2awd8XB/view?usp=sharing"
                    target="_blank" style="text-decoration: none; color: white">🔗 <span>Link
                        To My Resume</span> 🔗</a>
                <a>

                </a>
            </div>

        </div>
        <%- include ('partials/footer.ejs') %>

</body>

</html>