<!DOCTYPE html>
<html lang="en">

<head>

  <%- include ('partials/head.ejs') %>
    <link rel="stylesheet" href="/Stylesheets/index.css">

</head>

<body>
  <%- include ('partials/navbar.ejs') %>

    <div class="grid">

      <div class="code">
        <p>while (<span style="color:orange">alive</span>) {<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:greenyellow">eat</span>();<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:greenyellow">sleep</span>();<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:greenyellow">code</span>();<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:greenyellow">repeat</span>();<br>
          }
        </p>
      </div>

      <div class="ashu">
        <em>
          <h1>ASHUTOSH</h1>
          <h1 style="font-size: 65px">KANSAL</h1>
          <h1>PORTFOLIO</h1>
        </em>
      </div>

      <div class="quesans">
        <div class="arrow"> <img class="" height="60%" width="100%" src="/images/arrow.png
              " alt=""> </div>

        <div class="ques">

          <p>MY MISSION </p>

        </div>
        <div class="ans">
          <p>As a coder, my mission is to create innovative solutions through the power of code. <br> With
            determination and creativity, I strive to push boundaries, inspire others, and make a meaningful
            impact in the digital world.</p>
        </div>
      </div>



    </div>
    <%- include ('partials/footer.ejs') %>

</body>



</html>