<!-- 
//File Name: listofcontacts.ejs
//Student's Name: Ashutosh Kansal
//StudentID: 301233980
//Date: 22 June, 2023 
-->

<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ('partials/head.ejs') %>
        <link rel="stylesheet" href="/Stylesheets/listofcontacts.css">

</head>

<body>
    <%- include ('partials/navbar.ejs') %>

        <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark">List of contacts</a>
                    </div>
                </div>
            </nav>
        </header>
        <!-- /Header -->

        <!-- Main Site -->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <a href="/add-user" class="border-shadow">
                        <span class="text-gradient">New User <i class="fas fa-user"></i></span>
                    </a>
                </div>

                <!-- form handling -->
                <form action="/" method="POST">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>@Email</th>
                                <th>Phone Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%- include('partials/_show') %>
                        </tbody>
                    </table>
                </form>
            </div>
        </main>
        <!-- /Main Site -->

        <%- include ('partials/footer.ejs') %>

</body>

</html>