<!-- 
//File Name: login.ejs
//Student's Name: Ashutosh Kansal
//StudentID: 301233980
//Date: 22 June, 2023 
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ('partials/head.ejs') %>
        <link rel="stylesheet" href="/Stylesheets/login.css">

</head>

<body>
    <%- include ('partials/navbar.ejs') %>

        <form method="post">
            <p>Please Login to see list of contacts</p> <br><br>
            <div>
                <label for="email">Email:</label> <br>
                <input type="email" id="email" placeholder="Email" name="username"> <br><br>

                <label for="password">Password:</label> <br>
                <input type="password" id="password" placeholder="Password" name="password">
            </div>


            <button>Login</button>
        </form>

        <%- include ('partials/footer.ejs') %>
</body>

</html>