<!-- 
//File Name: projects.ejs
//Student's Name: Ashutosh Kansal
//StudentID: 301233980
//Date: 22 June, 2023 
-->

<!DOCTYPE html>
<html lang="en">

<head>

  <%- include ('partials/head.ejs') %>
    <link rel="stylesheet" href="/Stylesheets/projects.css">

</head>

<body>
  <%- include ('partials/navbar.ejs') %>

    <div class="carddiv">
      <div style="text-align: center">
        <h1>Unveiling My Current Projects!</h1>
      </div>

      <div class="grid">

        <div class="pl1">
          <img src="/images/project01.png" alt="" />
          <br />
          <br />
          <h3>E-commerce Website:</h3>
          <p>Estimated Revenue : $100,000 per month</p>
          <p>
            Number of stakeholders : 5
          </p>
          <br />
          <p>The e-commerce website aims to create an online marketplace for various products. Users can
            browse through different categories, add items to their cart, and make purchases securely. The
            website will integrate payment gateways, provide user profiles, and offer features like product
            reviews and ratings. The revenue will primarily come from transaction fees and commissions from
            sellers.</p>
        </div>



        <div class="pl2">
          <img src="/images/project02.jpeg" alt="" />
          <br /><br />
          <h3>Fitness Tracker App</h3>
          <p>Estimated Revenue : $50,000 per year</p>
          <p>
            Number of stakeholders : 3
          </p>
          <br />
          <p>The fitness tracker app will allow users to set fitness goals, track their activities, and
            monitor their progress. It will offer features like calorie tracking, goal
            reminders, and customizable workout plans. It will also integrate wearable devices to
            collect data automatically. The revenue will be generated through a subscription-based model
            with premium features and personalized training programs.</p>
        </div>


        <div class="pl3">
          <img src="/images/project03.jpeg" alt="" />
          <br /><br />
          <h3>Event Management Platform</h3>
          <p>Estimated Revenue : $250,000 per year</p>
          <p>
            Number of stakeholders : 7
          </p>
          <br />
          <p>The event management platform will provide end-to-end solutions for organizing events, conferences,
            and seminars. It will include features like event registration, ticketing,
            session scheduling, and analytics. The platform will target event organizers and businesses looking
            to host successful events. Revenue will be generated through service fees, event sponsorships, and
            partnerships with vendors.</p>
        </div>


      </div>
    </div>

    <%- include ('partials/footer.ejs') %>

</body>

</html>