<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ('partials/head.ejs') %>
        <link rel="stylesheet" href="/Stylesheets/services.css">

</head>

<body>
    <%- include ('partials/navbar.ejs') %>

        <h1 style="text-align: center">Powerful Solutions Tailored for You</h1>

        <div class="carddiv">
            <div class="card1">
                <br />
                <div class="cardone">
                    <img src="/images/services01.png" alt="">
                    <h3>Branding</h3>
                    <ul>
                        <li>Brand Positioning</li>
                        <li>Logo/Identity Design</li>
                        <li>Product Design</li>
                        <li>Supplemental Packaging</li>
                        <li>Brand Guidelines</li>
                    </ul>
                </div>
            </div>
            <div class="card2">
                <br />
                <div class="cardtwo">
                    <img src="/images/services02.png" alt="">
                    <h3>Digital</h3>
                    <ul>
                        <li>Webiste Design</li>
                        <li>UI/UX</li>
                        <li>Software Design</li>
                        <li>App Development</li>
                        <li>Database Administration</li>
                    </ul>

                </div>
            </div>
        </div>
        <%- include ('partials/footer.ejs') %>

</body>

</html>