/*
//File Name: about.css
//Student's Name: Ashutosh Kansal
//StudentID: 301233980
//Date: 22 June, 2023 
*/

/* Styles of about me page */

.img {
  border-radius: 10px;
  overflow: hidden;
  width: fit-content;
}

.img img {
  display: block;
}

.aboutme {
  font-size: 26px;
  font-weight: 800;
}

.outer {
  /* border: 2px solid red; */
  padding: 50px 200px;
}

.desc {
  width: 60vw;
  border-radius: 10px;
  padding: 30px;
  background-color: rgba(128, 128, 128, 0.5);
}

.img,
.aboutme,
.desc,
.arrow,
.resume {
  position: absolute;
}

.outer {
  position: relative;
  height: 80vh;
}

.img {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  top: 5px;
  left: 150px;
}

.aboutme {
  top: 100px;
  right: 400px;
}

.resume {
  bottom: 100px;
  left: 50%;
}

.resume span {
  text-decoration: underline;
}
.desc {
  top: 300px;
  left: 350px;
  /* border-bottom-left-radius: 20%; */
}
.arrow {
  top: 110px;
  right: 250px;
}
